.todo-item{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(74, 73, 73);
    color: #fff;
    margin-bottom: 1rem;
    border-radius: .5rem;
}